{
  "extends": "eslint:recommended",
  "plugins": [
    "react"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
           "modules": true
      }
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
