html {
  font-family: 'Roboto', sans-serif;

  body {
    margin: 0px;

    div.main-container {
      margin: 20px;
    }

    div.kts-navbar {
      .title {
        text-transform: uppercase;
      }
    }
  }
}

/*select2 input fix*/

div.form-group > select[multiple] {
  display: none;
}
